[Desktop Entry]
Type=Application
Name=1Password
Comment=Password manager and secure wallet
Exec=omarchy-launch-1password %U
Icon=1password
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/onepassword;
StartupWMClass=1Password
